$backgroundDark: #1c2023;
$backgroundMedium: #1f2427;
$backgroundLight: #24292c;

$colorDark: #948b7f;
$colorMedium: #bfb5a9;
$colorLight: #efe7dd;

$brandDark: #5669d5;
$brandMedium: #7a84c5;
$brandLight: #46c5e6;
