@use "./colors";

html,
body {

  color: colors.$colorMedium;
  font-family: "Poppins", cursive;
  height: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: colors.$colorMedium;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

a,
a:visited {
  color: colors.$colorLight;
}

div {
  transition: all 0.3s ease;
}

select,
input,
textarea,
button {
  background: colors.$backgroundLight;
  border: 1px solid colors.$backgroundDark;
  color: colors.$colorMedium;
  line-height: 1.5;
  padding: 6px;
  transition: background-color 0.3s cubic-bezier(0.6, 0.2, 0.7, 1.2),
    transform 0.3s ease-out;
}

select:focus,
input:focus,
textarea:focus {
  background: colors.$backgroundDark;
}

*:disabled {
  color: colors.$colorDark;
  cursor: default;
}

button {
  background-color: colors.$backgroundLight;
  border-color: colors.$backgroundDark;
  color: colors.$colorLight;
  cursor: pointer;
  font-size: 14px;
  padding: 6px 24px;

  &:enabled:hover,
  &:focus {
    border-color: colors.$colorDark;
  }
}

#index-view {
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;

  ul {
    list-style: none;
    padding: 0;
  }

  header {
    display: flex;
    justify-content: space-between;
  }

  .log-list {
    ul {
      padding: 8px;
    }
  }

  .convert-list {
    li {
      background-color: colors.$backgroundMedium;
      border: 1px solid #1e1b16;
      color: colors.$colorDark;
      margin: 24px 60px;
      padding: 32px;
    }


    a:hover {
      background-color: colors.$backgroundLight;
    }
  }

  .no-converts-message {
    &.intro {
      margin: 200px 120px;
    }

    background-color: colors.$backgroundMedium;
    border: 1px dashed colors.$colorLight;
    margin: 60px 120px;
    padding: 60px;
    text-align: center;

    &:hover {
      background-color: colors.$backgroundLight;
      border: 1px dashed #fff;
      cursor: pointer;
    }

    input {
      margin-top: 16px;
    }
  }
}
