@use "./colors";

html,
body {

  margin: 0;
  font-family: "Poppins", cursive;
  background-color: colors.$backgroundDark;
  color: colors.$colorMedium;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: colors.$colorMedium;
}

a,
a:visited {
  color: colors.$colorLight;
}


#index-view {
  padding: 24px;
  max-width: 1200px;
  margin: 0 auto;

  ul {
    list-style: none;
    padding: 0;
  }

  header {
    display: flex;
    justify-content: space-between;
  }

  .log-list {
    background: orange;
    color: green;
    background-color: colors.$backgroundDark;
    font-size: 11px;
    height: 100px;
    width: 400px;
    overflow-y: auto;
    border: 1px solid rgb(52, 51, 51);
    padding: 8px;
    margin: 8px;

    ul {
      padding: 8px;
    }
  }

  .convert-list {
    padding: 24px;
    background-color: colors.$backgroundDark;
    text-align: center;
    color: white;

    li {
      position: relative;
      margin: 8px;
      padding: 32px;
      border: 1px solid colors.$colorDark;
      border-radius: 3px;
      background-color: colors.$backgroundMedium;
      color: colors.$colorDark;
    }

    .converting-message {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0.8;
      background-color: #c5b0c2;
      display: flex;
      align-items: center;
      justify-content: space-around;
      color: white;
      font-size: 26px;
    }

    a {
      padding: 8px 20px;
      background-color: colors.$backgroundMedium;
      color: colors.$colorLight;
      margin-top: 4px;
      display: inline-block;
    }

    a:hover {
      background-color: colors.$backgroundLight;
    }
  }

  .no-converts-message {
    text-align: center;
    margin: 32px auto;
    border: 1px dashed colors.$colorLight;
    background-color: colors.$backgroundMedium;
    padding: 32px 32px 48px;
    width: 50%;

    input {
      margin-top: 16px;
    }
  }


}

.page {
  display: grid;
  grid-template-rows: 100px auto;
  grid-template-columns: 300px 1fr;
  height: 100vh;
}
