@use "../colors";

details {
  text-align: left;


  summary {
    cursor: pointer;

    &:hover {
      color: colors.$colorLight;
    }
  }
}



.tags-input {
  width: 100%;

  @media (min-width: 768px) {
    width: 49%;
  }
}

.image-input {
  width: 100%;

  @media (min-width: 768px) {
    width: 49%;
  }


  .image-dropzone {
    margin: 20px auto 0;
    text-align: center;
    border: 1px dashed colors.$colorMedium;
    background-color: colors.$backgroundMedium;

    width: 200px;
    height: 200px;
    cursor: pointer;

    @media (min-width: 768px) {
      margin: 112px auto 0;
    }

    p {
      margin-top: 60px;
    }

    &:hover {
      border: 1px dashed #fff;
      background-color: colors.$backgroundLight;
    }

    input {
      margin-top: 16px;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
  }

}

.button-area {
  button {
    display: block;
    margin-top: 32px;
  }
}

.tag-form {
  margin-top: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.tag-form button {
  cursor: pointer;
}

.tag-form label {
  font-size: 14px;
  margin-top: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: colors.$colorLight;

  .label-text {
    width: 30%;
  }

  input {
    width: 200px;
    width: 70%;
  }
}
