@use "../colors";

details {
  text-align: left;

  summary {
    cursor: pointer;

    &:hover {
      color: colors.$colorLight;
    }
  }
}

.tag-form {
  margin-top: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tags-input {
  width: 49%;
}

.image-input {
  width: 49%;

  .image-dropzone {
    margin: 20px auto 0;
    text-align: center;
    border: 1px dashed colors.$colorMedium;
    background-color: colors.$backgroundMedium;

    width: 200px;
    height: 200px;
    cursor: pointer;

    p {
      margin-top: 60px;
    }

    &:hover {
      border: 1px dashed #fff;
      background-color: colors.$backgroundLight;
    }

    input {
      margin-top: 16px;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
  }

  label,
  input {
    width: 200px;
    display: block;
    padding: 0;
    margin: 12px auto;
  }
}

.button-area {
  button {
    display: block;
    margin-top: 32px;
  }
}

.tag-input-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #2f373c;

  input {
    width: 60%;
    border-radius: 2px;
  }
}
