@use "../colors";

details {
  text-align: left;
  min-width: 300px;

  summary {
    cursor: pointer;

    &:hover {
      color: colors.$colorLight;
    }
  }
}

.tags-input {
  width: 100%;

  @media (min-width: 768px) {
    width: 49%;
  }
}

.image-input {
  width: 100%;

  @media (min-width: 768px) {
    width: 49%;
  }

  .image-dropzone {
    background-color: colors.$backgroundMedium;
    border: 1px dashed colors.$colorMedium;
    margin: 20px auto 0;
    padding: 12px;
    text-align: center;
    width: 200px;
    height: 200px;
    cursor: pointer;

    @media (min-width: 768px) {
      margin: 112px auto 0;
    }

    p {
      margin-top: 60px;
    }

    &:hover {
      background-color: colors.$backgroundLight;
      border: 1px dashed #fff;
    }

    input {
      margin-top: 16px;
    }
  }

  img {
    height: 100%;
    object-fit: scale-down;
    width: 100%;
  }
}

.button-area {
  button {
    display: block;
  }

  .download-button-container {
    display: flex;
    align-items: baseline;
    width: 100%;
    margin-top: 32px;
  }

  .download-button-progress {
    background-color: #436837;
    border-left: 1px solid colors.$backgroundMedium;
    border-right: 1px solid colors.$backgroundMedium;
    box-sizing: border-box;
    height: 1;
    transition-property: all;
    transition-timing-function: ease-out;
    transition-duration: 300ms;
    width: 0;
  }
}

.tag-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 18px;
}

.tag-form button {
  cursor: pointer;
}

.tag-form label {
  align-items: center;
  color: colors.$colorLight;
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  margin-top: 4px;

  input {
    width: 70%;
  }
}
